/* the general aesthetcs */
body {
  height: 200px;
  background: #E3D7FF;
}

/* styling for the dot */
.dot {
  height: 15px;
  width: 15px;
  border-radius: 100px; /* rounds corners */
  background: #703D57;
  position: absolute;
}

